---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  airsonic_web:
    image: airsonic/airsonic
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/airsonic/data:/airsonic/data
      - /mnt/nas/Music:/airsonic/music
      - /var/homelabos/airsonic/playlists:/airsonic/playlists
      - /var/homelabos/airsonic/podcasts:/airsonic/podcasts
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:airsonic.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=4040"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.tor.frontend.rule=Host:airsonic.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=4040"
